# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
ProjectSettings/EditorBuildSettings.asset
Assets/FX_Kandol_Pack/FX_effect_sprite_image01/fx_fumefx/Scenes/FX_FumeFX_01.unity.meta
Assets/StoneDungeon-f.unity.meta